.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .label {
    font-weight: 500;
  }
}

.details-container {
  width: 600px;
}

.detials-content-container {
  padding: 16px;
}

.detials-footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.detials-button {
  padding: 8px;
  width: 20%;
  text-align: center;
}

.telecom-header, .telecom-body {
  display: flex;
  justify-content: space-around;
}

.telecom-label {
  font-weight: 500;
}