
<div class="details-container">
  <h3>{{ dialogData.name | uppercase }} [ {{ dialogData.id }} ]</h3>
  <hr>
  <div class="detials-content-container">
    <div *ngIf="dialogData.recourceType === 'Patient'">
      <div class="detials-content" *ngFor="let data of dialogData | keyvalue">
        <div class="detail-row" 
          *ngIf="data.key !== 'id' && data.key !== 'telecom' && data.key !== 'name'">
          <div class="label">{{ data.key }}</div>
          <div class="value"> {{ data.value }} </div>
        </div>
      </div>
    </div>
    <div *ngIf="dialogData.recourceType === 'Practitioner'">
      <div class="detials-content" *ngFor="let data of dialogData | keyvalue">
        <div class="detail-row" 
          *ngIf="data.key === 'recourceType'">
          <div class="label">{{ data.key }}</div>
          <div class="value"> {{ data.value }}  </div>
        </div>
        <div *ngIf="data.key === 'telecom'">
          <section class="telecom-section" 
            *ngIf="displayTelecom(data.value)">
            <header class="telecom-header">
              <div class="telecom-row telecom-label" 
                *ngFor="let telecom of data.value">
                {{ telecom.system }}
              </div>
            </header>
            <hr>
            <div class="telecom-body">
              <div class="telecom-row" *ngFor="let telecom of data.value">
                {{ telecom.value }}
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="detials-footer-container">
    <button class="detials-button" (click)="onCloseDialog()">OK</button>
  </div>
</div>
