<!-- implement search form here -->
<div class="search-container">
  <form [formGroup]="searchForm">
    <div class="search-input-container">
      <input type="text" placeholder="Suchfeld" class="search-input"
        formControlName="search" 
        (ngModelChange)="onSearch($event)">
        <!-- (keydown.enter)="onSubmit()"> -->
        <!-- (keydown.space)="blockSpace($event)"
        (keydown)="blockCharacters($event)"> -->
      <div class="search-error" *ngIf="showInputError">{{ errorMessage }}</div>
    </div>
    <div class="select-input-container">
      <select class="select-input" (change)="onSelect($event.target.value)">
        <option value="all">Patient/Ärzte</option>
        <option value="patient">Patient</option>
        <option value="practitioner">Ärzte</option>
      </select>
    </div>
  </form>
</div>