.search-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 10px;
}

.search-input-container {
  width: 100%;
  flex-direction: column;
  margin-right: 32px;
}

.search-input {
  width: 100%;
  flex: 1;
  padding: 8px;
}

.select-input-container {
  align-items: flex-end;
}

.select-input {
  flex: 0;
  padding: 8px;
}

.search-error {
  margin-top: 5px;
  color: red;
  padding: 8px;
}

form {
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 450px) {
  form {
    flex-wrap: wrap;
  }

  .search-input {
    width: 100%;
    margin-right: 0;
  }

  .select-input {
    flex: 1;
    width: 100%;
  }
}
