@import '../../../styles/variables';

.list-item {
  a {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }

  .active-link {
    color: $accent;
  }
}
