.content {
  width: 100%;
  padding: 16px 0;
  grid-row: 1 / 4;
  grid-column: 2 / 12;
}

.search-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 1024px) {
  .content {
    grid-column: 1 / 13;
  }
}
