<app-grid-container>
  <div class="content" content>
    <app-search (searchInputEvent)="changeSearchFilter($event)"
    (selectInputEvent)="changeSelectFilter($event)"></app-search>

    <app-unicorn-table
      [columns]="columns"
      [entries]="entries$ | async"
      [isLoading]="isLoading"
      [totalLength]="totalLength$ | async"
    ></app-unicorn-table>
  </div>
</app-grid-container>
